<mat-toolbar fxLayout="row" class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span fxFlex>
        <img src="assets/img/HDFC-logo.png" alt="HDFC Bank" width="300" height="50"></span>
    <!-- <button mat-button fxHide.xs>
        <mat-icon class="mr ">person</mat-icon>
        {{name}}
    </button> -->
    <a fxHide.xs routerLink="home">
        <mat-icon class="icon">person</mat-icon>
        <span class="label"> {{ name }}</span>
    </a>
    <button mat-raised-button color="warn">
        <!-- <mat-icon class="mr">power_settings_new</mat-icon>
        &nbsp; Logout -->
        Logout 
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <button mat-button class="menu-button" routerLink="home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button" routerLink="transfer" >
            <mat-icon>payments</mat-icon>
            <span>Transfer</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <div class="container-fluid">
                <div class="row">

                     <router-outlet></router-outlet> 

                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

